<?xml version="1.0" encoding="UTF-8"?>

<!--日志级别TRACE,DEBUG,INFO,WARN,ERROR-->
<configuration>
    <!--加载配置文件,使用变量地址-->
    <property resource="application.properties"/>

    <contextName>my_test</contextName>

    <!--设置控制台日志输出格式 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <!--encoder是用来取代layout的,layout已经不建议使用-->
        <encoder>
            <pattern>
                <!--%p&#45;&#45;&#45;&#45;%d&#45;&#45;&#45;&#45;%c&#45;&#45;&ndash;&gt;%msg%n-->
                <!--%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %replace(%caller{1}){'\t|Caller.{1}0|\r\n', ''} - %m%n-->
                %-4relative [%thread] %-5level %logger{0} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--debug-->
    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/log_debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>${logging.path}/debug_log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保留天数-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <!--info-->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/log_info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
        </filter>
        <encoder>
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!-- 滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 路径 -->
            <fileNamePattern>${logging.path}/info_log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保留天数-->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <!--<logger name="com.llh.test.module.dao" additivity="false">-->
        <!--<level value="debug"/>-->
        <!--<appender-ref ref="console"/>-->
        <!--<appender-ref ref="debug"/>-->
    <!--</logger>-->

    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
    </root>

</configuration>